{{#unless indexPage}}
<link rel="stylesheet" href="../../../static/css/main.min.css">
{{/unless}}

<div class="chart_wrapper"
    id="{{ elementID }}"
    data-chart-type="{{ chartType }}" 
    data-source="{{ source }}" 
    data-title="{{ title }}" 
    data-market="{{ market }}"
    data-report-type="{{ reportType }}"
>
    <h3>{{ title }}</h3>
</div>
    
<p class="block short-desc">
    <strong>Source:</strong> <a href="https://github.com/cfpb/consumer-credit-trends/blob/master/data/{{ source }}">https://github.com/cfpb/consumer-credit-trends/blob/master/data/{{ source }}</a><br>
    <strong>Date published:</strong> month year<br>
    <strong>Note:</strong> ..

</p>


{{#unless indexPage}}
<script src="../../../static/js/main.min.js"></script>
{{/unless}}